.gallery-intro-text {
  text-align: center;
  font-family: "Playfair Display", serif; /* Aynı yazı tipi */
  font-size: 32px;
  font-weight: 400;
  color: #2e3a34; /* Koyu yeşilimsi yazı */
  margin-bottom: 40px;
  padding: 0 16px;
}

.gallery-intro-text h2 {
  font-weight: normal;
  line-height: 1.4;
}

.gallery-intro-text span {
  color: #a68b75; /* Orchid kelimesi kahve-ton */
}
